body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4em;
}
main {
    margin-top: 2em;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}


h1, h2, .titre2 {
    margin-left: 0;
    padding-top: 0.3em;
    font-weight: bold;
    font-family: Arial,"Trebuchet MS",Verdana,sans-serif;
}

h1 {
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 0.6em;
    text-align: center;
}

.centrer {text-align: center;}

.decalhaut10 { margin-top: 10px;}

.aligner-haut {vertical-align: top;}

.aligner-centre{text-align:center;}

.decal10, [type="checkbox"] {margin-left: 10px;}

.erreur {
    color: red;
    font-weight: 700;
    width: auto;
}

label {
    display: inline-block;
    width: 300px;
    text-align: left;
}

label.autre {
    width: 100px;
    margin-left: 10px;
}

.ok label {
    text-align: right;
}

.div1 {
    width: 600px;
    display: inline-block;
}

input[type="submit"], .button {
	margin-left: 350px;
	margin-top: 30px;
}

.subuttonbmit {
    width:50px;
    text-align: center;
    boder
}

input {
	margin-bottom: 10px;
    margin-left: 5px;
}

strong, .red {color: red;}
.gris {color: #C0C0C0;}
.ok .gris {color: #3F3E3E;}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 6px 22px;
    border: 1px solid #8f8f9d;
    border-radius: 6px;
    background: #e9e9ed;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9ed), to(#e9e9ed));
    background: -moz-linear-gradient(top, #e9e9ed, #e9e9ed);
    background: linear-gradient(to bottom, #e9e9ed, #e9e9ed);
    font: normal normal normal 16px arial;
    color: #000000;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #babacc;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: -moz-linear-gradient(top, #ffffff, #ffffff);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    color: #000000;
    text-decoration: none;
}
.button:active {
    background: #8c8c8e;
    background: -webkit-gradient(linear, left top, left bottom, from(#8c8c8e), to(#e9e9ed));
    background: -moz-linear-gradient(top, #8c8c8e, #e9e9ed);
    background: linear-gradient(to bottom, #8c8c8e, #e9e9ed);
}
